<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>624976115490-f2iq1rlh6l156eajqac7k7ic63mhqcu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624976115490-f2iq1rlh6l156eajqac7k7ic63mhqcu5</string>
	<key>API_KEY</key>
	<string>AIzaSyA8lGjwTUDTkagFkYWPAZet9sRF9MZZyZU</string>
	<key>GCM_SENDER_ID</key>
	<string>624976115490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.youper.vinicius</string>
	<key>PROJECT_ID</key>
	<string>youper-ff175</string>
	<key>STORAGE_BUCKET</key>
	<string>youper-ff175.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624976115490:ios:6da3b8f8137206f7</string>
	<key>DATABASE_URL</key>
	<string>https://youper-ff175.firebaseio.com</string>
</dict>
</plist>